settings.py
settings_local.py
settings/local.py
settings_non_public.py
settings_public.py
openresty/conf.d/secrets-public.conf
openresty/conf.d/secrets-non-public.conf
*.py[co]
*.sw[po]
.coverage
pip-log.txt
docs/_gh-pages
build.py
.DS_Store
*-min.css
*-all.css
*-min.js
*-all.js
.noseids
tmp/*
*~
*.mo
src/
.vagrant
